body{padding:0px; margin:0px; background:url(images/bgpedro.jpg) repeat-x #FFFFFF; font:12px/14px Arial, Helvetica, sans-serif; color:black;}
div, ul, h1, h2, h3, li, p, img, a{margin:0; padding:0;}
ul{list-style-type:none;}


/*-----------------main pan---------*/
#mainPan{width:778px; position:relative;margin:0 auto;}
/*-------------------header pan------*/
#headerPan{
	width:778px;
 	height:264px;
 
	}
/*----------------left pan--------*/
#leftPan{
	width:193px;
	height:63px;	
	float:left;
	background-color:White;
	overflow:hidden; /*add this statement*/
	}
#leftPan ul{
	width:383px;
	display:block;
	padding:20px 0 0 20px;
	font-size:0px;
	float:left;
    height: 42px;
    overflow:hidden; /*add this statement*/
    
}
#leftPan ul li{
	float:left;
	display:block;
    width: 38px;
    height: 37px;
}
#leftPan ul li a{
	height:25px;
	display:block;
	text-indent:-2222px;

	}
#leftPan ul li a.home{
	background: white url(images/home_icon.gif) no-repeat 0 0; width:23px; margin:7px 0 0 8px;
	
	}
#leftPan ul li a.home:hover{
	background:url(images/home_icon_h.gif) no-repeat 0 0; width:23px;
	}
#leftPan ul li a.user{
	background:url(images/user.gif) no-repeat 0 0; width:27px; 
margin:9px 0 0 11px;
	}
#leftPan ul li a.user:hover{
	background:url(images/user_h.gif) no-repeat 0 0; width:23px;
	}
#leftPan ul li a.email{
	background:url(images/email.gif) no-repeat 0 0; width:23px; margin:12px 0 0 10px;
	}
#leftPan ul li a.email:hover{
	background:url(images/email_h.gif) no-repeat 0 0; width:23px;
	}
	
#leftPan ul li a.login{
	background:url(images/loginsm.gif) no-repeat 0 0; width:25px; margin:6px 0 0 10px;
	}
#leftPan ul li a.login:hover{
	background:url(images/loginsm.gif) no-repeat 0 0; width:25px;
	}

	
	
	/*----------------rigth pan--------*/
#dirPan{
	width:193px;
	height:63px;	
	float:right;
	background-color:White;
	overflow:hidden; /*add this statement*/
	}
#dirPan ul{
	width:383px;
	display:block;
	padding: 20px 0 0 5px;
	font-size:0px;
	float:left;
    height: 42px;
    overflow:hidden; /*add this statement*/
    
}

#dirPan ul li{
	float:left;
	/*display:block;*/
    width: 38px;
    height: 37px;
}

#dirPan ul li a{
	height:25px;
	display:block;
	text-indent:-2222px;
	margin: 7px 0 0 4px;

	}	
	
#dirPan ul li a.pt{
	background: white url(bandeiras/mini_pt.jpg) no-repeat 0 0; width:23px; margin:7px 0 0 8px;
	
	}
	
#dirPan ul li a.uk{
	background: white url(bandeiras/mini_uk.jpg) no-repeat 0 0; width:23px; margin:7px 0 0 8px;
	
	}
	
#dirPan ul li a.fr{
	background: white url(bandeiras/mini_fr.jpg) no-repeat 0 0; width:23px; margin:7px 0 0 8px;
	
	}
	
#dirPan ul li a.es{
	background: white url(bandeiras/mini_es.jpg) no-repeat 0 0; width:23px; margin:7px 0 0 8px;
	
	}
	
#dirPan ul li a.de{
	background: white url(bandeiras/mini_De.jpg) no-repeat 0 0; width:23px; margin:7px 0 0 8px;
	
	}
	
/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    border-bottom: 0px #004A7F solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0 auto 0 209px;
    text-align: right;
    top: 10px;
    left: 4px;
    height: 25px;
    width: 569px;
}

ul#menu li
{
    display: inline;
    list-style: none;
    width: 169px;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #004A7F;
    color: white;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
    color:Black;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

#menucontainer
{
    margin-top:3px;
    -moz-margin-top:5px;
    height: 26px;
    width: 569px;
    float:right; 
    margin-right:200px;      
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu2
{
    border-bottom: 0px #004A7F solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0 auto 0 209px;
    text-align: right;
    top: 10px;
    left: 4px;
    height: 25px;
    width: 569px;
}

ul#menu2 li
{
    display: inline;
    list-style: none;
    width: 169px;
}

ul#menu2 li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu2 li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #004A7F;
    color: white;
}

ul#menu2 li a:hover
{
    background-color: #fff;
    text-decoration: none;
    color:Black;
}

ul#menu2 li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu2 li.selected a
{
    background-color: #fff;
    color: #000;
}

#menucontainer2
{
    margin-top:15px;
    -moz-margin-top:5px;
    height: 26px;
    width: 569px;
    float:right; 
    margin-right:200px;      
}


/* TAB Lang   
----------------------------------------------------------*/


#langmenu ul{
    border-bottom: 0px #004A7F solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0 auto 0 200px;
    text-align: right;
    top: 5px;
    left: 4px;
    height: 25px;
    width: 569px;
    
}
#langmenu ul li{
	float:left;
	display:block;
    width: 38px;
    height: 37px;
}
#langmenu ul li a{
	height:25px;
	display:block;
	text-indent:-2222px;

	}
#langmenu ul li a.home{
	background: white url(images/home_icon.gif) no-repeat 0 0; width:23px; margin:7px 0 0 8px;
	
	}
#langmenu ul li a.home:hover{
	background:url(images/home_icon_h.gif) no-repeat 0 0; width:23px;
	}
#langmenu ul li a.user{
	background:url(images/user.gif) no-repeat 0 0; width:27px; 
margin:9px 0 0 11px;
	}
#langmenu ul li a.user:hover{
	background:url(images/user_h.gif) no-repeat 0 0; width:23px;
	}
#langmenu ul li a.email{
	background:url(images/email.gif) no-repeat 0 0; width:23px; margin:12px 0 0 10px;
	}
#langmenu ul li a.email:hover{
	background:url(images/email_h.gif) no-repeat 0 0; width:23px;
	}
	
	#langmenu ul li a.login{
	background:url(images/loginsm.gif) no-repeat 0 0; width:25px; margin:6px 0 0 10px;
	}
#langmenu ul li a.login:hover{
	background:url(images/loginsm.gif) no-repeat 0 0; width:25px;
	}


#langcontainer
{
    margin-top:120px;
    -moz-margin-top:5px;
    height: 26px;
    width: 778px;
    float:right; 
    /*margin-right:200px; */
    background-color:White;   
}


/*                           */
#logindisplay
{
    font-size:1.1em;    
    display:block;
    text-align:right;
    margin: 80px 10px 10px 10px;
    color:white;
    padding:20px 0 0 20px;
    width:240px;
	height:20px;	
	float:right;
	overflow:hidden; /*add this statement*/
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: yellow;
    text-decoration: none;
}

/*----------------------body---------------*/
#body1{
	width:778px;
	margin-top:20px;
	margin-bottom:20px;
	/*height:700px;*/
	}
#body_leftbg{
	
	width:20%;
	float:left;
	
	}

/*----------------body middle-------------*/
#body_middle{
	width:100%;
	
/*	float:right; */
	color:black;
	
	}


/* Footer */

#footer 
{
    width:778px;
    margin-top :20px;
	height: 120px;
	padding: 0;
	background: white;
}

#footer p {
	margin: 0;
	padding: 30px 0px 0px 30px;
	text-align: center;
	text-transform: capitalize;
	line-height: normal;
	font-size: 14px;
}	


/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px !important;
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}



div#title
{
    display:block;
    float:left;
    text-align:left;
}

.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}


.display-label
{
    margin: 0.5em 0;
    font-weight: bold;
}


.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

.image { height: 105px; width: 105px; margin: auto;padding: 15px; border: 1px solid #ccc; background-color: #eee; }



a.tell 
{ 
    background: url(images/tell.gif) no-repeat top left; 
} 


.editor-global
{
    margin: 0.5em 0;
}

.editor-global ul{
	width:383px;
	display:block;
	padding: 20px 0 0 5px;
	font-size:0px;
	float:left;
    height: 42px;
    overflow:hidden; /*add this statement*/
    
}

.editor-global ul li{
	float:left;
	/*display:block;*/
    width: 38px;
    height: 37px;
}

.editor-global ul li a{
	height:25px;
	display:block;
	text-indent:-2222px;
	margin: 7px 0 0 4px;

	}	
	
.editor-global ul li a.pt{
	background: white url(bandeiras/mini_pt.jpg) no-repeat 0 0; width:23px; margin:7px 0 0 8px;
	
	}
	
.editor-global ul li a.uk{
	background: white url(bandeiras/mini_uk.jpg) no-repeat 0 0; width:23px; margin:7px 0 0 8px;
	
	}
	
.editor-global ul li a.fr{
	background: white url(bandeiras/mini_fr.jpg) no-repeat 0 0; width:23px; margin:7px 0 0 8px;
	
	}
	
.editor-global ul li a.es{
	background: white url(bandeiras/mini_es.jpg) no-repeat 0 0; width:23px; margin:7px 0 0 8px;
	
	}
	
.editor-global ul li a.de{
	background: white url(bandeiras/mini_De.jpg) no-repeat 0 0; width:23px; margin:7px 0 0 8px;
	
	}
	
	#theMap {
    position: relative; 
    width: 580px; 
    height: 450px;
    border: solid 1px #bbd1ec;
}


#dinnerDiv 
{
    float:right;
    width: 235px;
    padding: 10px 0px 0px 20px;
    
}

#whoscomingDiv
{
	height:150px;
	width:235px;
	overflow:auto; /* so it scrolls */
}

#mapDiv 
{
    float: left;
    width: 522px;
}

.button, input[type=submit]
{
	clear: both;
	display: inline-block;
	padding: 5px;
    margin-top: 10px; 
	border: 1px;
	background: #5e5b54;
	color: #fff;
	font-size: 10px;
    font-weight: bold;
}

.button a
{
	color: #fff !important;
}